MazeWalker/.vs/
MazeWalker/Bullet/build3/
MazeWalker/Bullet/lib/
MazeWalker/Debug/
MazeWalker/Libs/freetype/objs/
MazeWalker/Libs/glew/build/
MazeWalker/Libs/glew/lib/Debug/
MazeWalker/Libs/freetype/objs/
MazeWalker/Libs/glew/lib/Release/
MazeWalker/Bullet/lib/*.lib

*/objs/*
*.pdb
*.ipch
MazeMaker/MazeMaker
MazeWalker/Libs/glew/lib/Release/
MazeWalker/Libs/glew/build/tmp
MazeWalker/Libs/freetype/objs/
MazeWalker/Bullet/lib/
MazeWalker/Bullet/build3/tmp/
*.tlog
MazeWalker/Debug/
MazeWalker/.vs/
*.obj
*.tlog
MazeWalker/x64/*
MazeWalker/win32/*
*.obj
*.ilk
*.exp
*.recipe
MazeWalker/x64/Debug/MazeWalker.exe
